/* Typography */
body {
  font-family: 'Inconsolata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', serif;
}

/* Header */
.header-flex {
  display: flex;
  align-items: center;
}

/* Navigation */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 35px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #fff; /* Consider using CSS variables */
  transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px); /* Adjusted translate values */
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px); /* Adjusted translate values */
}

.nav-links {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100vw;
  display: none;
  flex-direction: column; /* Change to column layout for mobile */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

ul.nav-links {
  padding: 0; /* Remove default padding */
}

ul.nav-links li a {
  display: block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.expanded {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    top: auto;
    left: auto;
    align-items: center;
    justify-content: flex-end;
  }
  ul.nav-links li a {
    padding: 16px, 20px;
  }
  .hamburger {
    display: none;
  }
}
