/* Typography */
body {
  font-family: 'Inconsolata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', serif;
}

/* Header */
.header-flex {
  display: flex;
  align-items: center;
}

/* Navigation */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 35px;
  height: 3px;
  margin-bottom: 10px;
  background-color: #fff; /* Consider using CSS variables */
  transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px); /* Adjusted translate values */
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px); /* Adjusted translate values */
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

ul.nav-links li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.expanded {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  ul.nav-links li a {
    display: inline-block;
    padding: 16px 20px;
  }

  .hamburger {
    display: none;
  }
}
