---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

interface Frontmatter {
  title: string;
  tags: string[];
}

interface Post {
  url: string;
  frontmatter: Frontmatter;
}

interface Params {
  tag: string;
}

interface Props {
  posts: Post[];
}

export async function getStaticPaths() {
  const allPosts: Post[] = await Astro.glob('../posts/*.md');

  const uniqueTags: string[] = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag }: Params = Astro.params;
const { posts }: Props = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post: Post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
