---
const pageTitle = 'About Me';

const identity = {
  firstName: 'Domjan',
  lastName: 'Grkinic',
  country: 'Germany',
  age: 22,
  fideRating: 1882,
  nationalRating: 1592,
  lichessRating: 2008,
  favoritePlayer: 'Nodirbek Abdusattorov',
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </nav>
    </header>
    <h1>{pageTitle}</h1>
    <p>
      I am starting a blog in order to share my chess knowledge, experiences, analysis.
    </p>
    <p>
      I will post every time I play an OTB game and analyze it thouroghly.
    </p>
  </body>
</html>
