---
import '../styles/global.css';

const pageTitle = "Gambit Chronicles";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header class="container-fluid">
      <nav>
        <ul>
          <li><a href="/" class="contrast">Home</a></li>
          <li><a href="/about/" class="contrast">About</a></li>
          <li><a href="/blog/" class="contrast">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>{pageTitle}</h1>
    </main>
  </body>
</html>
