---
const { title, url } = Astro.props;
---

<div class="grid">
  <article>
    <li class="post-link"><a href={url}>{title}</a></li>
  </article>
</div>

<style>
  .post-link {
    list-style: none;
  }

  .post-link a {
    text-decoration: none;
  }
</style>
