---
const { title, url } = Astro.props;
---

<div class="grid">
  <div><article><li class="post-link"><a href={url}>{title}</a></li></article></div>
</div>

<style>
  article {
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

 .post-link {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .post-link a {
    text-decoration: none;
    font-weight: bold;
  }
</style>
