---
const { title, url } = Astro.props;
---

<div class="grid">
  <div><article><li class="post-link"><a href={url}>{title}</a></li></article></div>
</div>

<style>
  .post-link {
    list-style: none;
  }

  .post-link a {
    text-decoration: none;
  }
</style>
