---
const platform = "lichess";
const username = "clouddistrict";
---

<footer>
  <small>
    <p>Follow me on <a href={`https://www.${platform}.org/@/${username}`}>{platform}</a>!</p>
  </small>
</footer>
