---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', function () {
      this.classList.toggle('active');
    });
  });
</script>
