---
import setGreeting from './Greeting.svelte';
function closeDialog() {
  const dialog = document.querySelector('dialog');
  dialog.close();
}
---

<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" on:click={closeDialog}></button>
      <h3><strong>{$greeting}! Thank you for visiting!</strong></h3>
    </header>
    <button onclick={setGreeting}> New Greeting</button>
  </article>
</dialog>

