<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev"></button>
      <h3><strong>{$greeting}! Thank you for visiting!</strong></h3>
    </header>
    <button on:click={setGreeting}> New Greeting</button>
  </article>
</dialog>
