---

function closeDialog() {
    const dialog = document.getElementById('myModal');
    dialog.close();
    // Store in local storage that the modal has been closed
    localStorage.setItem('modalClosed', 'true');
  }

  // Check if the modal should be shown
  document.addEventListener('DOMContentLoaded', function () {
    const shouldShowModal = !localStorage.getItem('modalClosed');
    if (shouldShowModal) {
      const dialog = document.getElementById('myModal');
      dialog.showModal();
    }
  });
---

<dialog open>
  <article>
    <header>
      <button aria-label="Close" rel="prev" on:click={closeDialog}></button>
      <h3><strong>{$greeting}! Thank you for visiting!</strong></h3>
    </header>
    <button on:click={setGreeting}> New Greeting</button>
  </article>
</dialog>

